@use "mixins" as m;

@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/font/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// color scheme by user's system
@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: var(--blue-950);
    --bg-home-bar: var(--blue-900);
    --option: var(--grey-400);
    --text: var(--grey-50);
    --shadow: var(--shadow-dark);
  }
}

// when the button is clicked the body theme changes
body.dark-mode {
  --bg-body: var(--blue-950);
  --bg-home-bar: var(--blue-900);
  --text: var(--grey-50);
  --option: var(--grey-400);
  --shadow: var(--shadow-dark);
}

body.light-mode {
  --bg-body: var(--grey-50);
  --bg-home-bar: var(--white);
  --text: var(--blue-900);
  --option: var(--grey-300);
  --shadow: var(--shadow-light);
}

// with variables
body {
  background-color: var(--bg-body);
  color: var(--text);
  font-family: var(--font-family);
  min-height: 100vh;
  width: 100%;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  .navbar__text,
  .btn__home,
  .search__bar::placeholder,
  .search__bar,
  .region__select,
  .region__select option,
  .border__btn {
    color: var(--text);
  }

  header,
  .search__container,
  .region__select,
  .region__select option,
  option:hover,
  .country__card,
  .btn__home,
  .border__btn {
    background-color: var(--bg-home-bar);
  }

  option:disabled {
    background-color: var(--bg-body);
    color: var(--option);
    cursor: auto;
  }

  option:hover {
    background-color: var(--bg-body);
  }

  .region__select:focus-visible,
  .region__select option:focus-visible,
  .search__container:focus-within,
  .navbar__btn:focus-visible,
  .country__card__link:focus-within {
    outline: var(--text) solid 1px;
  }

  .no__results {
    color: var(--option);
  }

  .btn__home,
  .border__btn {
    box-shadow: 0px 0px 5px 0px var(--shadow);

    &:hover {
      box-shadow: 0px 2px 3px 0px var(--shadow);
    }

    &:active {
      transform: translateY(4px);
      box-shadow: 0px 0px 1px 0px var(--shadow);
    }
  }
}
