$Blue-900: hsl(209, 23%, 22%);
$Blue-950: hsl(207, 26%, 17%);
$Grey-950: hsl(200, 15%, 8%);
$Grey-400: hsl(0, 0%, 50%);
$Grey-50: hsl(0, 0%, 99%);
$White: hsl(0, 100%, 100%);

$Font-size-detail: 16px;
$Font-size-home: 14px;

$font-family: "Nunito Sans", sans-serif;
$weight-bold: 800;
$weight-regular: 600;
$weight-light: 300;
