$Blue-900: rgb(43, 57, 69);
$Blue-950: hsl(207, 26%, 17%);
$Grey-950: hsl(200, 15%, 8%);
$Grey-400: hsl(0, 0%, 50%);
$Grey-50: hsl(0, 0%, 97%);
$White: hsl(0, 100%, 100%);

$Grey-300: hsl(0, 0%, 80%);

$shadow-dark: rgb(0, 0, 0);
$shadow-light: hsla(0, 0%, 0%, 0.2);

$Font-size-detail: 16px;
$Font-size-home: 14px;

$font-family: "Nunito Sans", sans-serif;
$weight-bold: 800;
$weight-regular: 600;
$weight-light: 300;
