@use "mixins" as m;

/* extend */

.btn-style {
  display: flex;
  border: none;
  align-items: center;
  gap: m.rem(5);
  border-radius: m.rem(8);
  font-size: var(--font-size-home);
  cursor: pointer;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

/* extend */

.detail__section {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-inline: calc(m.rem(20) + 2vw);
  padding-block-end: calc(m.rem(14) + 2vh);
  min-height: calc(100vh - m.rem(80));
  font-size: var(--font-size-details);
  @include m.responsive(tablet) {
    padding-block-end: 0;
  }
  @include m.responsive(desktop) {
    padding-inline: calc(m.rem(40) + 2vw);
    min-height: calc(100vh - m.rem(115));
  }
}

.detail__btn__container {
  display: flex;
  min-height: m.rem(100);
  align-items: center;
  @include m.responsive(desktop) {
    min-height: m.rem(150);
  }
  a {
    text-decoration: none;
  }
}

.btn__home {
  @extend .btn-style;
  padding: m.rem(10) m.rem(15);
}

.border__btn {
  @extend .btn-style;
  padding: m.rem(5) m.rem(15);
}

.arrow,
.btn__back {
  transition: transform 0.1s ease;
}

.arrow {
  width: m.rem(18);
}

.btn__home:hover {
  transform: translateY(2px);

  .arrow,
  .btn__back {
    transform: scale(0.97);
  }
}

.border__btn:hover {
  transform: translateY(2px);
}

.detail__container {
  display: flex;
  flex-direction: column;
  gap: m.rem(30);
  @include m.responsive(desktop) {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: m.rem(80);
    height: min(100%, m.rem(300));
  }
  @include m.responsive(desktop-lg) {
    grid-template-columns: 1fr 1fr;
    max-width: m.rem(1300);
    justify-self: center;
  }
  span:not(.no__borders) {
    font-weight: var(--weight-bold);
    margin-inline-end: m.rem(5);
  }
  h2 {
    margin-block: m.rem(20);
    font-size: min(calc(var(--font-size-home) + 3vw), m.rem(35));
    font-weight: var(--weight-bold);
    @include m.responsive(desktop) {
      margin-block: 0;
    }
  }
}

.languages__div {
  @include m.responsive(desktop) {
    display: flex;
    gap: m.rem(5);
  }
}

.detail__info {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  gap: m.rem(20);

  @include m.responsive(tablet) {
    justify-content: space-around;
  }

  @include m.responsive(desktop) {
    gap: 0;
  }
}

.detail__flag {
  width: 100%;
}

.info__container {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: m.rem(60);

  @include m.responsive(tablet) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}

.info__first,
.info__second {
  display: flex;
  flex-direction: column;
  gap: m.rem(15);
}

.info__second {
  @include m.responsive(tablet) {
    justify-self: end;
  }
  @include m.responsive(desktop) {
    justify-self: start;
  }
}

.currency__symbol {
  margin-inline-start: m.rem(5);
}

.border__container {
  display: flex;
  flex-direction: column;
  gap: m.rem(15);
  margin-block-start: m.rem(30);
  @include m.responsive(tablet) {
    flex-direction: row;
    margin-block-start: m.rem(20);
  }
  @include m.responsive(desktop-lg) {
    margin-block-start: 0;
  }
}

.borders__btns__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: m.rem(10);
  justify-content: center;
  @include m.responsive(desktop) {
    justify-content: start;
    gap: m.rem(15);
  }
}

.no__borders {
  font-weight: var(--weight-regular);
  border-bottom: 1px solid;
}

.error,
.loading {
  display: flex;
  gap: m.rem(20);
  min-height: calc(100vh - m.rem(80));
  font-size: var(--font-size-normal);
  font-weight: var(--weight-bold);
  @include m.responsive(desktop) {
    min-height: calc(100vh - m.rem(115));
  }
}

.error {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading {
  justify-content: start;
  align-items: flex-start;
  gap: m.rem(2);
  padding-inline: calc(m.rem(20) + 2vw);
  padding-block-start: calc(m.rem(14) + 2vh);
  @include m.responsive(desktop) {
    padding-inline: calc(m.rem(40) + 2vw);
  }
  span {
    opacity: 0;
    animation: appear 1.5s infinite linear;

    &.pt-1 {
      animation-delay: 0s;
    }

    &.pt-2 {
      animation-delay: 0.3s;
    }

    &.pt-3 {
      animation-delay: 0.6s;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
