@use "mixins" as m;

.home__page {
  display: grid;
  @include m.responsive(desktop) {
    padding: calc(m.rem(14) + 2vh) calc(m.rem(40) + 2vw);
  }
}

.filters__placeholder {
  display: flex;
  flex-direction: column;
  gap: m.rem(28);
  padding: m.rem(25) calc(m.rem(20) + 2vw) 0 calc(m.rem(20) + 2vw);
  @include m.responsive(tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block-start: m.rem(45);
    gap: 0;
  }

  @include m.responsive(desktop) {
    padding: 0;
  }
}

.search__container {
  border: none;
  display: flex;
  padding: m.rem(15);
  border-radius: m.rem(8);
  @include m.responsive(tablet) {
    width: 50%;
  }
  @include m.responsive(desktop) {
    width: min(100%, m.rem(500));
  }
}

.search {
  display: block;
  height: min(100%, m.rem(22));
  width: min(100%, m.rem(22));
}

.search__bar,
.search__bar::placeholder {
  background-color: transparent;
  border: none;
  font-size: var(--font-size-home);
  font-family: var(--font-family);
  width: 100%;
}

.search__bar:focus-visible {
  outline: none;
}

.select__container {
  border: none;
  display: flex;
  width: 50%;
  border-radius: m.rem(8);
  @include m.responsive(tablet) {
    width: 25%;
  }
  @include m.responsive(desktop) {
    width: min(50%, m.rem(200));
  }
}

.region__select {
  border: transparent;
  padding: m.rem(18) m.rem(15);
  font-size: var(--font-size-home);
  font-family: var(--font-family);
  width: 100%;
  cursor: pointer;
}

.region__select option {
  padding: m.rem(10) m.rem(15);
  width: 100%;
  font-size: var(--font-size-home);
  font-family: var(--font-family);
  cursor: pointer;
}

select,
::picker(select) {
  appearance: base-select;
}

::picker(select) {
  border: none;
  border-radius: m.rem(8);
  margin-block-start: m.rem(5);
}

option::checkmark {
  display: none;
}

.countries__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: m.rem(45);
  @include m.responsive(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: m.rem(40);
    padding: m.rem(45) calc(m.rem(20) + 2vw);
  }
  @include m.responsive(desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 0;
  }
}

.country__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: min(100%, m.rem(300));
  border-radius: m.rem(8);
  overflow: hidden;
  @include m.responsive(tablet) {
    width: m.rem(200);
  }
}

.country__img {
  display: flex;
  width: m.rem(200);
  height: min(100%, m.rem(150));

  & img {
    width: 100%;
    object-fit: scale-down;
    object-position: top;
  }
}

.country__information {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-home);
  align-content: flex-start;
  gap: m.rem(10);
  padding: m.rem(10);
}
