// color scheme by default

:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  --bg-body: #f2f2f2;
  --bg-el: #ffffff;
  --text: #111517;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

// color scheme by user's system
@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #202c37;
    --bg-el: #2b3642;
    --text: #ffffff;
  }
}

// when the button is clicked the body theme changes
body.dark-mode {
  --bg-body: #202c37;
  --bg-el: #2b3642;
  --text: #ffffff;
}

body.light-mode {
  --bg-body: #f2f2f2;
  --bg-el: #ffffff;
  --text: #111517;
}

// with variables
body {
  background-color: var(--bg-body);
  color: var(--text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  & .navbar__text {
    color: var(--text);
  }
}
